.main-container__form {
  display: flex;
  flex-direction: column;
  width: 65%;
  overflow-y: auto;
  max-height: 85vh;
  padding: 1.5em;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
  border-radius: 5px;
  text-align: center;
}

.main-container__form-mode--switches {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1.5em;
}
